<% include ../partials/header.ejs %>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/liquors">Liquors</a>
  <a href="/categories">Categories</a>
</div>

<div class="page-container">
      <h2 class="page-title"><%= category.name %></h2>

      <% liquors.forEach(liquor => { %>
      <img src="<%= liquor.img %>">
      <p>Name: <%= liquor.name %></p>
      <p>Proof: <%= liquor.proof %></p>
      <p>Size: <%= liquor.size %></p>
      <p>Leftover: <%= liquor.leftover %></p>
      <p>Location: <%= liquor.location %></p>
      <p>Category ID: <%= liquor.category_id %></p>
      <% }) %>

</div>



<% include ../partials/footer.ejs %>
